
	* {
		margin-top: 55px;
		background-color: rgb(183, 235, 235);
	}

	h1 {
		color: darkblue;
		font-size: 45px;
	}

	#b1, #b2, #b3, #b4, #b5,
	#b6, #b7, #b8, #b9 {
		width: 80px;
		height: 52px;
		margin: auto;
		border: 3px solid black;
		border-radius: 6px;
		font-size: 30px;
		text-align: center;
	}

	#but {
		box-sizing: border-box;
		width: 95px;
		height: 40px;
		border: 2px solid black;
		margin: auto;
		border-radius: 4px;
		font-family: Verdana, Geneva, Tahoma, sans-serif;

		background-color: darkblue;
		color: white;
		font-size: 20px;
		cursor: pointer;
	}

	#print {
		font-family: Verdana, Geneva, Tahoma, sans-serif;

		color: darkblue;
		font-size: 20px;
	}

	#main {
		text-align: center;
	}

	#ins {
		font-family: Verdana, Geneva, Tahoma, sans-serif;
			
		color: rgb(75, 3, 3);
		font-size: 17px;
    }